---
import Layout from "@/layouts/Layout.astro";
import { ModeToggle } from "@/components/ModeToggle";
import { Nav } from "@/components/nav";
import { Logo } from "@/components/Logo";
import { ChevronDown } from "lucide-react";
import { Timeline } from "@/components/Timeline";
import { Achievements } from "@/components/Achievements";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<script>
	const handleScroll = () => {
		if (window.scrollY > 0) {
			document.documentElement.classList.add("scrolled");
		}
		window.removeEventListener("scroll", handleScroll);
	};
	window.addEventListener("scroll", handleScroll);
</script>
<Layout>
	<nav
		class="w-full p-4 flex items-center sticky top-0 z-50 bg-background gap-4 justify-between"
	>
		<Logo className="h-10 w-10" />
		<Nav client:load />
		<ModeToggle client:load />
	</nav>
	<main class="h-[95vh]">
		<div
			class="flex items-start md:items-center justify-center gap-6 h-11/12 p-6 flex-col md:flex-row w-fit mx-auto"
		>
			<Logo className="md:h-80 md:w-80 h-70 w-70" />
			<div class="">
				<h1 class="md:text-6xl font-extrabold text-4xl">Archer Chua</h1>
				<p class="md:text-2xl font-bold text-lg">Software Engineer</p>
				<p class="md:text-2xl text-lg">Pragmatic by Program</p>
			</div>
		</div>
		<div
			class="flex items-center justify-center text-neutral-500 animate-bounce duration-500 gap-2"
			id="scroll-indicator"
		>
			<ChevronDown />
			<span>Scroll to learn more</span>
		</div>
	</main>
	<section class="container mx-auto my-36 p-6">
		<div
			class="md:grid md:grid-cols-2 md:justify-center md:items-center md:gap-4 flex flex-col gap-16"
		>
			<div>
				<img
					src="/portrait.jpg"
					alt=""
					class="max-h-full max-w-full rounded-2xl"
				/>
			</div>
			<div>
				<h2 class="text-2xl font-bold">Hi, I'm Archer</h2>
				<p class="md:text-2xl tezt-xl">
					I am a software engineer with a passion for building scalable and
					efficient applications. I love solving complex problems and creating
					innovative solutions that make a difference.
				</p>
			</div>
		</div>
	</section>
	<section
		id="experience"
		class="flex flex-col items-center justify-center gap-8 p-6"
	>
		<h2 class="text-2xl font-bold">My Experience</h2>
		<Timeline client:load />
	</section>
</Layout>
<div class="h-screen"></div>
