---
import Layout from "@/layouts/Layout.astro";
import { ModeToggle } from "@/components/ModeToggle";
import { Logo } from "@/components/Logo";
import { Nav } from "@/components/nav";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="w-full p-4 flex justify-between items-center">
		<div>
			<Logo />
		</div>
		<Nav client:load />
		<ModeToggle client:load />
	</div>
</Layout>
